// Brand color
$sterling-red: #da3636;
$one-home-blue: #263367;

// text-color
$text-color-black: #2c3138;
$text-color-white: #ffffff;
$text-color-gray: #828282;
$text-color-gray-2: #4f4f4f;
$text-color-orange: #e95a25;
$placeholder-text-color: #3b3b3b;

// background-color
$bg-color-black: #2c3138;
$bg-color-white: #ffffff;
$bg-color-gray: #828282;
$bg-color-gray-2: #4f4f4f;

// states color
$success: #27ae60;
$notification: #f4f9ff;
